
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CORE IONIC IMPORTS - Dopo Tailwind */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* OPTIONAL IONIC UTILS */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* DARK MODE (se necessario) */
@import "@ionic/angular/css/palettes/dark.system.css";

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GLOBAL STYLES */
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
  overflow-x: hidden; /* Spostato qui dal selettore universale */
}

/* FIX INPUT NUMERICO */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* MAPLIBRE GL POPUP */
.maplibregl-popup-content {
  background: none !important;
}

/* SIDEBAR SPECIFIC STYLES */
.sidebar ::-webkit-scrollbar {
  display: none;
}

.sidebar select,
.sidebar input[type=number] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}